doctype html
doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Home
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel='stylesheet')
    link(rel='stylesheet' href='/css/home.css')
  body
    video.video-background(autoplay='' muted='' loop='')
      source(src='/image/nice2.mp4' type='video/mp4')
      | Your browser does not support the video tag.
    .container
      .row
        .col
          .container.content
            a.btn.btn-primary(href='/register') Signin
        .col
          .container.content
            a.btn.btn-primary(href='/landing') Explore
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
